:root{
  --primary:#ff4b2b;
  --secondary:#ff416c;
  --white:#ffff;
  --gray:#f5f5f5;
  --ash:#333;
  --shadow: 0px 2px 10px  rgba(0,0,0,0.5);
}
a{
  text-decoration: none;
  color: var(--white);
  
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 80vw;
}
header{
  background: linear-gradient(to right,var(--primary),var(--secondary));
  font-size: large;
  position: fixed;
  width:100%;
  z-index: 1000;
}
body{
  margin:0 auto;
  padding: 0 auto;
}
.header-link{
  display: flex;
  gap: 1rem;
}
.hero{
  background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(https://images.unsplash.com/photo-1504674900247-0877df9cc836);
  height: 50rem;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--white);
}
.hero h1{
  font-size: 3rem;
}
.hero p{
  font-size: 1.3rem;
}
.hero a{
  background-color: var(--primary);
  padding: 1rem 2rem;
  border-radius: 35px;
}
.feature{
  background-color: var(--gray);
  padding: 5rem;
}

.feature-container{
  display: grid;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  gap: 2rem;

}
.feature-card{
text-align: center;
background-color: var(--white);
padding: 3rem;
border-radius: 1rem;
box-shadow: var(--shadow);

}
.feature-card h2{
  color: var(--primary);
}
@media screen and (min-width:720px) {
  .feature-container{
    grid-template-columns: repeat(3,1fr);
  }
  
}
.dish{
  position: relative;
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
  
}
.dish::after{
  content: "";
  position: absolute;
  height: 3px;
  width: 300px;
  transform: translateX(-50%);
  background-color: var(--primary);


}
.menu-card{
  box-shadow: var(--shadow);
  text-align: center;
  display:flexbox;
  background-color: var(--white);
  border-radius: 25px;
  padding: 2rem;
  position: relative;
  img{
    width: 350px;
    height: 250px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;

  }

}
.menu-card-container{
  position: relative;
  display: flex;
  justify-content: space-around;
  border-radius: 35px;
  padding: 1rem;
 
}
.menu-card a{
  
  background-color: var(--primary);
  padding: .5rem .7rem;
  border-radius: 10px;
  position: relative;
  left: 8rem;
  top: 2.5rem;


}
.menu-card p{
  font-size: larger;
}
.highlight{
  position: absolute;
  top: 2.5rem;
  right: 3rem;
  background-color: var(--primary);
  padding: .5rem;
  border-radius: 1rem;

}
.price{
  display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.about{
  display: flex;
  padding-top: 3rem;
 align-items: center;
 justify-content: space-evenly;
  img{
    width: 30rem;
    height: 40rem;
    border-radius: 2rem;
    
  }
 
  text-align: left;
  margin-top: 5rem;
  background-color: var(--gray);
  

}
.contact-us{
  text-align: center;
  font-size: larger;
  margin-bottom: 2rem;
}
.contact-us::after
{
  content: "";
  position: absolute;
  height: 3px;
  width: 100px;
  transform: translateX(-50%);
  background-color: var(--primary);
  margin-bottom: 5rem;
}
.input{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
.table{
  display: flex;
  
  flex-direction: column;
  width: 38rem;
  
  gap: 1rem;
  font-size: larger;
  input{
    width: 100%;
  }

}
.submit-button{
  background-color: var(--primary);
  padding: 1rem;
  border-radius: 5px;

}
.end{
  display: flex;
  justify-content: space-around;
  background: var(--ash);
}
.final-img{
  display: flex;
  width: 8rem;
  height: 8rem;
  padding: 2rem;
  position: relative;
  left: 1rem;
  
}

.last-home{
  background-color: var(--ash);
  width: 100%;
  padding: 2rem;
  text-align: center;
}
.last-home a{

  display: flexbox;
  justify-content: space-evenly;
  padding: 2rem;
}
.last-home p{
  color: var(--white);
  padding: 2rem;
}